.home-container{
    background-color: rgb(170, 204, 238);
}
.test-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: center;
    gap: 50px;
    padding: 5% 20%;
}