.home-container{
     display: grid;
    background-color: rgb(170, 204, 238);
}

.animation-container{
    height: 50%;
    width: 50%;
    margin-left: 25%;
}

.test-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -10%;
    width: auto;
    justify-content: center;
    gap: 50px;
    padding: 5% 20%;
}